<nav class="#00897b teal darken-1"> <!-- navbar content here  --> </nav>
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        <img src="../../assets/image/libri-letteratura-leggere.jpg">
      </div>
     <br>
      <br>
      <br>
    </div></li>
    <li><a href="">Editor Note</a></li>
    <li><div class="divider"></div></li>
    <li><a routerLink="/sports">Sports</a></li>
    <li><div class="divider"></div></li>
    <li><a routerLink="/religion">Religion</a></li>
    <li><div class="divider"></div></li>
    <li><a class="" routerLink = "/cooking">Cooking</a></li>
    <li><div class="divider"></div></li>
    <li><a class="">Stories</a></li>
    <li><div class="divider"></div></li>
    <li><a class="">Submit documents for publish</a></li>
  </ul>
  <div class="row">
    <div class="col m6 s12 offset-m2">
      <h5>content</h5>
      <router-outlet></router-outlet>
    </div>
  </div>
  